.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  flex-direction: row;
}

.nav ul {
  display: flex;
  padding: 1em 0;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  .header {
    flex-direction: column;

    .site-header {
      margin: auto;
      flex-direction: column;
    }

    .site-header .title {
      padding-left: 0;
    }

    .nav ul {
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav {
      width: 100%;
    }
  }
}

.logo img {
  width: 150px;
  border-radius: 50%;
  box-shadow: $box-shadow;
}

.site-header .title {
  padding-left: 5rem;
}



.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me {
  float: right;
  margin: 5px;
  box-shadow: $box-shadow;
  border-radius: 2%;
}

.mainline {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 1.5em;
  opacity: 0.5;

  &::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  margin-top: -20px;
  margin-bottom: 40px;
}
