{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main analysis" role="main">
        <article class="article">
            {{ content }}
        </article>
    </div>

    {% include 'incl/footer.twig' %}
</body>
</html>