{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology" role="main">
        <aside class="menu">
        <h1> Meny </h1>
            {% for page in pages("technology") %}
                <p><a href="{{ page.url }}"> {{ page.title }}</a></p>
            {% endfor %}
        </aside>
        <article class="article">
            {{ content }}
        </article>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>