html {
  font-size: 100%;
}


body {
  font-family: 'Geist', sans-serif;
  font-size: 1.1em;
}

p {
  margin-bottom: 1.96rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
li,
th,
td {
  color: $font-color;
  font-weight: 480; 
}

.header a {
  text-decoration: none;
  color: $font-color;
  font-weight: 400;
  font-size: 1.2rem;
}

p {
  color: $font-color;
  font-weight: 500; 
}
