$font-color: #1d1d1d;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;


$box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
$gradientcolor: linear-gradient(to right, #caced1, #96aec4);

$footer-background: #3b3b3b;
$footer-text-color: #b5bdc2;
